.page-header {
  padding-bottom: 0px;
  margin: 10px 0px 10px 0px;
  border-bottom: 1px solid #eee;
}

.btn:hover {
  background-color: #d2d2d2;
}

.btn {
  border: 3px solid #000;
}
.top-nav {
  background-color: #000;
  padding: 1px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-group-lg > .btn {
  border-radius: 0px;
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-who {
  background-color: #fff100;
  color: #000;
}
.btn-what {
  background-color: #f62b33;
  color: #fff;
}
.btn-how {
  background-color: #1d2088;
  color: #fff;
}
.btn-why {
  background-color: #fff;
  color: #000;
}
.btn-where {
  background-color: #000;
  color: #fff;
}
